# Final Case Study: Storytelling on Data

| name| course/section | date submitted | date performed |
|---|---|---|---|
| John Edward Binay | CPE 019-CPE32S2| 2022-03-09 | 2022-03-09 |

<br></br>
1. Create a data analysis of the Covid 19 Pandemic using the given dataset from the WHO website.

    https://covid19.who.int/info?openIndex=2

2. Create storytelling that includes the following:

* Problem
  * Are we getting better or worse?
  * Are the vaccines helping or not?
  * Does a difference between AUTHORIZATION_DATE AND START_DATE/FIRST_VACCINE_DATE CAUSE A DIFFERENCE? 
* Objectives
  * To understand the pandemic and its impact human lives in the ASEAN region
  * To create a recommendation that will lead us to a trajectory of fastest recovery
  * To evince action through informed predictive analysis
* Data Analysis
* Recommendation
* Conclusion


1. Make sure to include data visualization and apply machine learning algorithms such as linear regression
2. Submit a video recording of presenting your story, a pdf file of the presentation. and the Google Colab

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#importing the dataset
vacc_meta = pd.read_csv(r"C:\Users\core i5\Documents\GitHub\DataScience\datascience\CPE 019\case study\vaccination-metadata.csv")

daily_cases_and_deaths = pd.read_csv(r"C:\Users\core i5\Documents\GitHub\DataScience\datascience\CPE 019\case study\WHO-COVID-19-global-data.csv")

cases_deaths_2 = pd.read_csv(r"C:\Users\core i5\Documents\GitHub\DataScience\datascience\CPE 019\case study\WHO-COVID-19-global-table-data.csv")

vacc_data = pd.read_csv(r"C:\Users\core i5\Documents\GitHub\DataScience\datascience\CPE 019\case study\vaccination-data.csv")

## vacc_meta cleaning

In [3]:
vacc_meta.head()

,ISO3,VACCINE_NAME,PRODUCT_NAME,COMPANY_NAME,AUTHORIZATION_DATE,START_DATE,END_DATE,COMMENT,DATA_SOURCE
0,JEY,Moderna - mRNA-1273,mRNA-1273,Moderna,NaN,NaN,NaN,NaN,OWID
1,JEY,AstraZeneca - AZD1222,AZD1222,AstraZeneca,NaN,NaN,NaN,NaN,OWID
2,JEY,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech,NaN,NaN,NaN,NaN,OWID
3,GGY,Moderna - mRNA-1273,mRNA-1273,Moderna,NaN,NaN,NaN,NaN,OWID
4,GGY,AstraZeneca - AZD1222,AZD1222,AstraZeneca,NaN,NaN,NaN,NaN,OWID

In [5]:
vacc_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 880 entries, 0 to 879
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ISO3                880 non-null    object
 1   VACCINE_NAME        880 non-null    object
 2   PRODUCT_NAME        879 non-null    object
 3   COMPANY_NAME        875 non-null    object
 4   AUTHORIZATION_DATE  390 non-null    object
 5   START_DATE          611 non-null    object
 6   END_DATE            0 non-null      float64
 7   COMMENT             0 non-null      float64
 8   DATA_SOURCE         880 non-null    object
dtypes: float64(2), object(7)
memory usage: 62.0+ KB

In [6]:
# extract ASEAN countries and replace the ISO3 name with country and replace ISO3 values with country name
asean = {"BRN":"Brunei", "MMR":"Myanmar", "KHM":"Cambodia", "TLS":"Timor-Leste", "IDN":"Indonesia", "LAO":"Lao People's Democratic Republic", "MYS":"Malaysia", "PHL":"Philippines", "SGP":"Singapore", "THA":"Thailand","VNM":"Viet Nam"}

In [7]:
vacc_meta["ISO3"] = vacc_meta["ISO3"].replace(asean)

In [8]:
vacc_meta["ISO3"]

0              JEY
1              JEY
2              JEY
3              GGY
4              GGY
          ...
875    Philippines
876            NIC
877            BHR
878            PSE
879            SYR
Name: ISO3, Length: 880, dtype: object

In [9]:
# create a datafram containing only ASEAN countries
vacc_meta = vacc_meta[vacc_meta["ISO3"].isin(asean.values())]
vacc_meta.rename(columns={"ISO3":"Country"}, inplace=True)

In [10]:
vacc_meta.Country.value_counts()

Philippines                         11
Malaysia                             8
Lao People's Democratic Republic     8
Indonesia                            7
Cambodia                             7
Thailand                             7
Viet Nam                             6
Brunei                               5
Singapore                            4
Timor-Leste                          4
Myanmar                              2
Name: Country, dtype: int64

In [11]:
vacc_meta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69 entries, 33 to 875
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             69 non-null     object
 1   VACCINE_NAME        69 non-null     object
 2   PRODUCT_NAME        69 non-null     object
 3   COMPANY_NAME        68 non-null     object
 4   AUTHORIZATION_DATE  61 non-null     object
 5   START_DATE          56 non-null     object
 6   END_DATE            0 non-null      float64
 7   COMMENT             0 non-null      float64
 8   DATA_SOURCE         69 non-null     object
dtypes: float64(2), object(7)
memory usage: 5.4+ KB

In [12]:
# drop comment and end_date column as well as data_source
vacc_meta.drop(["COMMENT", "END_DATE", "DATA_SOURCE"], axis=1, inplace=True)

In [13]:
vacc_meta.drop("PRODUCT_NAME", axis=1, inplace=True)
vacc_meta.sort_values(by=["Country"], inplace=True)

In [14]:
vacc_meta.head()

,Country,VACCINE_NAME,COMPANY_NAME,AUTHORIZATION_DATE,START_DATE
481,Brunei,AstraZeneca - Vaxzevria,AstraZeneca,2021-02-22,2021-04-03
335,Brunei,Pfizer BioNTech - Comirnaty,Pfizer BioNTech,NaN,NaN
523,Brunei,Moderna - Spikevax,Moderna,2021-04-09,2021-06-21
108,Brunei,Beijing CNBG - BBIBP-CorV,Beijing Bio-Institute Biological Products (CNBG),2021-02-03,2021-04-03
743,Brunei,Janssen - Ad26.COV 2-S,Janssen Pharmaceuticals,NaN,NaN

In [ ]:
fig, ax = plt.subplots(figsize=(20,10))
sns.countplot(y="VACCINE_NAME", data=vacc_meta)
ax.set_yticklabels(labels = vacc_meta["VACCINE_NAME"],horizontalalignment = "left")
ax.tick_params(axis='y', direction='in',pad=-10)
ax.set_title("Most Used Vaccines")

In [5]:
daily_cases_and_deaths.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [6]:
cases_deaths_2.head()

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
Global,NaN,445096612,5710.363812,10342314,132.686644,1200707,5998301,76.95516,50301,0.645336,4400,NaN
United States of America,Americas,78529635,23724.775000,326898,98.760000,0,950529,287.16700,9605,2.902000,0,NaN
India,South-East Asia,42967315,3113.564000,43185,3.129000,4362,515102,37.32600,1259,0.091000,66,NaN
Brazil,Americas,29033052,13658.794000,289002,135.963000,59253,651927,306.70300,3014,1.418000,672,NaN
France,Europe,22382148,34413.236000,350447,538.823000,45328,136166,209.35900,1087,1.671000,32,NaN

In [7]:
vacc_data.head()

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED
0,Afghanistan,AFG,EMRO,REPORTING,2022-03-06,5597130,4952744.0,14.378,12.723,4281934.0,11.000,"Beijing CNBG - BBIBP-CorV,Janssen - Ad26.COV 2...",2021-02-22,4.0
1,Albania,ALB,EURO,REPORTING,2022-02-20,2707658,1284034.0,94.100,45.118,1192155.0,41.889,"AstraZeneca - Vaxzevria,Gamaleya - Gam-Covid-V...",2021-01-13,5.0
2,Algeria,DZA,AFRO,REPORTING,2022-02-20,13631683,7456361.0,31.086,17.004,6076272.0,13.857,"Beijing CNBG - BBIBP-CorV,Gamaleya - Gam-Covid...",2021-01-30,4.0
3,American Samoa,ASM,WPRO,REPORTING,2022-02-16,85050,42212.0,154.084,76.475,37805.0,68.491,"Janssen - Ad26.COV 2-S,Moderna - Spikevax,Pfiz...",2020-12-21,3.0
4,Andorra,AND,EURO,REPORTING,2022-02-13,142420,57797.0,184.300,75.872,53250.0,69.903,"AstraZeneca - Vaxzevria,Moderna - Spikevax,Pfi...",2021-01-20,3.0